{%extends 'capstoneSite/base.html' %}

{%block content %}



<title> About </title>
	<h1 class="aboutH1">About Points</h1>
	<p> Points aims to reward users while providing a cheap and efficient alternative
		for corporations to redistribute their rental objects. Users will simply select a starting location from the user 
		interface map. The user interface will then generate a map with pins of nearby return locations along 
		with weighted return values and colors. These color-coded pins will allow the user to choose where they will return their rented object. 
		If a user returns their object to a full location (shown as a red pin on the map)
		the user will receive no extra points. However, if a user decides to return their rented object to a location that is marked 
		marked by a yellow or green pin, the user will be rewarded with points. The amount of points is determined by a combination
		of the amount of items at a location and the distance from the starting location. 
	</p>
	
	<p>
		The points that a user gains from returning their rental objects to specific locations will be able to be redeemed 
		for potential rewards from the company, such as discounts or free rental items in the future. By implementing this system,
		companies will be able to save time and money redistributing their shared items while building a loyal customer base gained from 
		the rewards system.
	</p>

{%endblock%}
