{% extends 'capstoneSite/base.html' %}

{% block content %}
<div id="map"></div>
<script>
    function initialise() {
        // Create global json var
        var rowData;
        var rowsData = [];

        {% for row in rows %}
        rowData = {
            id: {{ row.0 }},
            name: '{{ row.1 }}',
            lat: {{ row.5 }},
            long: {{ row.6 }},
            weight: {{ row.8 }},
            capacity: {{ row.7 }},
            flag: '{{ row.10 }}'
        };
        rowsData.push(rowData);
        {% endfor %}
        // Run map initialisation
        var centerPoint = {lat: {{ center.lat }}, lng: {{ center.long }}};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: centerPoint
        });
        initialiseMap(rowsData);
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaost6qz9iVMLOo5pgaay3I2HlaBywDy0&callback=initialise">
</script>
{% endblock %}}