<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "mapInterface/css/mapInterface.css" %}">
</head>
<body>
    <ul>
        <li class="logo"><a href="#">Logo</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbutton">Dropdown</a>
            <div class="dropdown-content">
                <a href="#">Account</a>
                <a href="#">Options</a>
            </div>
        </li>
    </ul>
</body>
</html>